In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
loan_dataset = pd.read_csv('./data/train_u6lujuX_CVtuZ9i.csv')

In [3]:
loan_dataset.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y

In [4]:
loan_dataset.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [5]:
loan_dataset.columns.size

13

In [6]:
loan_dataset.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [7]:
loan_dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
loan_dataset = loan_dataset.dropna()

In [9]:
loan_dataset.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
loan_dataset = loan_dataset.replace(to_replace='3+', value=4)

In [11]:
loan_dataset.replace({'Married':{'No':0,'Yes':1},'Gender':{'Male':1,'Female':0},'Self_Employed':{'No':0,'Yes':1},
                      'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Education':{'Graduate':1,'Not Graduate':0}},inplace=True)

In [12]:
loan_dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,Y
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,Y

In [13]:
X = loan_dataset.drop(columns=['Loan_ID','Loan_Status'],axis=1)
Y = loan_dataset['Loan_Status']

In [14]:
x_train, x_test,y_train,y_test = train_test_split(X,Y,test_size=0.1,stratify=Y,random_state=2)

## USING SVM

In [15]:
classifier = svm.SVC(kernel='linear')

In [16]:
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [17]:
x_train_prediction = classifier.predict(x_train)
training_data_accuray = accuracy_score(x_train_prediction,y_train)

In [18]:
x_train_prediction[2]

'Y'

In [19]:
y_train[2]

'Y'

In [20]:
print('Accuracy on training data : ', training_data_accuray)

Accuracy on training data :  0.7986111111111112

In [21]:
x_test_prediction = classifier.predict(x_test)
test_data_accuray = accuracy_score(x_test_prediction,y_test)

In [22]:
print('Accuracy on test data : ', test_data_accuray)

Accuracy on test data :  0.8333333333333334

In [23]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix, recall_score, precision_score
from sklearn.model_selection import cross_val_score
import seaborn as sns

classification = classification_report(y_test, x_test_prediction)
print(f"classification: {classification}")

accuracy = accuracy_score(y_test, x_test_prediction)
print(f"accuracy: {accuracy}")

precision = precision_score(y_test, x_test_prediction, average='micro')
print(f"precision: {precision}")

recall = recall_score(y_test, x_test_prediction, average='micro')
print(f"recall: {recall}")
# y_test.mean()

matrix = confusion_matrix(y_test, x_test_prediction)
print(f"confusion matrix: {matrix}")

classification:               precision    recall  f1-score   support

           N       0.82      0.60      0.69        15
           Y       0.84      0.94      0.89        33

    accuracy                           0.83        48
   macro avg       0.83      0.77      0.79        48
weighted avg       0.83      0.83      0.83        48

accuracy: 0.8333333333333334
precision: 0.8333333333333334
recall: 0.8333333333333334
confusion matrix: [[ 9  6]
 [ 2 31]]

In [23]:
import pickle

In [25]:
save_model = open('./models/svm_model.pick', 'wb')
data = pickle.dump(classifier, save_model)
save_model.close()

## OTHER ALGORITHMS

In [15]:
X = loan_dataset.drop(columns=['Loan_ID','Loan_Status'],axis=1)
Y = loan_dataset['Loan_Status']
Y = loan_dataset['Loan_Status'].map(dict(Y=1,N=0))

In [16]:
x_train, x_test,y_train,y_test = train_test_split(X,Y,test_size=0.1,stratify=Y,random_state=2)

## USING LOGISTIC REGRESSION

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
logistic_model = LogisticRegression()
logistic_model.fit(x_train, y_train)
logistic_model_pred = logistic_model.predict(x_test)

In [42]:
accuracy_score(y_test, logistic_model_pred)

0.8333333333333334

In [38]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix, recall_score, precision_score
from sklearn.model_selection import cross_val_score
import seaborn as sns

classification = classification_report(y_test, logistic_model_pred)
print(f"classification: {classification}")

accuracy = accuracy_score(y_test, logistic_model_pred)
print(f"accuracy: {accuracy}")

precision = precision_score(y_test, logistic_model_pred, average='micro')
print(f"precision: {precision}")

recall = recall_score(y_test, logistic_model_pred, average='micro')
print(f"recall: {recall}")
# y_test.mean()

matrix = confusion_matrix(y_test, logistic_model_pred)
print(f"confusion matrix: {matrix}")

classification:               precision    recall  f1-score   support

           0       0.82      0.60      0.69        15
           1       0.84      0.94      0.89        33

    accuracy                           0.83        48
   macro avg       0.83      0.77      0.79        48
weighted avg       0.83      0.83      0.83        48

accuracy: 0.8333333333333334
precision: 0.8333333333333334
recall: 0.8333333333333334
confusion matrix: [[ 9  6]
 [ 2 31]]

In [43]:
save_logistic_model = open('./models/logistic.pick', 'wb')
data = pickle.dump(logistic_model, save_logistic_model)
save_logistic_model.close()

## USING DECISION TREE

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
decision_model = DecisionTreeClassifier()
decision_model.fit(x_train, y_train)
prediction = decision_model.predict(x_test)

In [27]:
accuracy_score(y_test, prediction)

0.7291666666666666

In [28]:
classification = classification_report(y_test, prediction)
print(f"classification: {classification}")

accuracy = accuracy_score(y_test, prediction)
print(f"accuracy: {accuracy}")

precision = precision_score(y_test, prediction, average='micro')
print(f"precision: {precision}")

recall = recall_score(y_test, prediction, average='micro')
print(f"recall: {recall}")
# y_test.mean()

matrix = confusion_matrix(y_test, prediction)
print(f"confusion matrix: {matrix}")

classification:               precision    recall  f1-score   support

           0       0.60      0.40      0.48        15
           1       0.76      0.88      0.82        33

    accuracy                           0.73        48
   macro avg       0.68      0.64      0.65        48
weighted avg       0.71      0.73      0.71        48

accuracy: 0.7291666666666666
precision: 0.7291666666666666
recall: 0.7291666666666666
confusion matrix: [[ 6  9]
 [ 4 29]]

In [29]:
save_decision_model = open('./models/decision.pick', 'wb')
data = pickle.dump(decision_model, save_decision_model)
save_decision_model.close()

## USING RANDOM FOREST

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
rf_model = RandomForestClassifier(n_estimators=150)
rf_model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=150)

In [32]:
rf_prediction = rf_model.predict(x_test)

In [33]:
classification = classification_report(y_test, rf_prediction)
print(f"classification: {classification}")

accuracy = accuracy_score(y_test, rf_prediction)
print(f"accuracy: {accuracy}")

precision = precision_score(y_test, rf_prediction, average='micro')
print(f"precision: {precision}")

recall = recall_score(y_test, rf_prediction, average='micro')
print(f"recall: {recall}")
# y_test.mean()

matrix = confusion_matrix(y_test, rf_prediction)
print(f"confusion matrix: {matrix}")

classification:               precision    recall  f1-score   support

           0       0.75      0.60      0.67        15
           1       0.83      0.91      0.87        33

    accuracy                           0.81        48
   macro avg       0.79      0.75      0.77        48
weighted avg       0.81      0.81      0.81        48

accuracy: 0.8125
precision: 0.8125
recall: 0.8125
confusion matrix: [[ 9  6]
 [ 3 30]]

In [34]:
save_random_model = open('./models/random.pick', 'wb')
data = pickle.dump(rf_model, save_random_model)
save_random_model.close()